<a href="https://colab.research.google.com/github/anshika1501/PythonPractice/blob/main/Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.	If  name = ''' Hi How are you?
Starterd learning python.
It's really interesting.''' Then what is the output of following code
•	name[:]
•	name[-10:-5]
•	name[3:12]
•	name[12:3]
•	name[5,6]
•	name[-4:-12]
•	name[::2]
•	name[::-2]

In [ ]:
name = ''' Hi How are you?
Starterd learning python.
It's really interesting.'''
name[:]

" Hi How are you?\nStarterd learning python.\nIt's really interesting."

In [ ]:
print(name[-10:-5])
print(name[3:12])
print(name[12:3])
print(name[5:6])
print(name[-4:-12])
print(name[::2])
print(name[::-2])

teres
 How are

o

 iHwaeyu
tredlann yhn
tsral neetn.
.nteen larst
nhy nnaldert
uyeawHi

2.	 L1 = [‘a’ , ‘b’, 20, 30, ‘t’, 100, 300, 400, ‘Happy’, ‘major’]
a.	L1[:]
b.	L1[::3]
c.	L1[::-2]
d.	How to extract  value “Happy” based on index and negative index
e.	How to check type of data in list at 4th position
f.	Extract values for 100, 300, 400

In [ ]:
L1 = ['a', 'b', 20, 30, 't', 100, 300, 400, 'Happy', 'major']
print(L1[:])
print(L1[::3])
print(L1[::-2])

['a', 'b', 20, 30, 't', 100, 300, 400, 'Happy', 'major']
['a', 30, 300, 'major']
['major', 400, 100, 30, 'b']

In [ ]:
L1.index('Happy')

8

In [ ]:
type(L1[3])

int

In [ ]:
L2 =[1,2,3,5,['a', 'b', 'work hard'],100 , 200,'Succes']
L2[4]

['a', 'b', 'work hard']

In [ ]:
L2[1:5]

[{'a': 10, 'b': 20, 'c': 30}, 2, 3, 5]

In [ ]:
L2[7]

200

In [ ]:
L2[7][2]

TypeError: 'int' object is not subscriptable

In [ ]:
L2[7][2:]

TypeError: 'int' object is not subscriptable

In [ ]:
L2[ : 3]

[1, {'a': 10, 'b': 20, 'c': 30}, 2]

In [ ]:
L2[3:]

[3, 5, ['a', 'b', 'work hard'], 100, 200, 'Succes']

In [ ]:
L2.insert(8,{'insect': ['bee', 'moth'] , 'bird' : ['parrot', 'sparrow']})

In [ ]:
L2

[1,
 {'a': 10, 'b': 20, 'c': 30},
 2,
 3,
 5,
 ['a', 'b', 'work hard'],
 100,
 200,
 {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']},
 'Succes']

In [ ]:
L2.pop()

'Succes'

In [ ]:
L2

[1,
 {'a': 10, 'b': 20, 'c': 30},
 2,
 3,
 5,
 ['a', 'b', 'work hard'],
 100,
 200,
 {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']}]

In [ ]:
d1 = {'a':10, 'b':20, 'c' : 30}

In [ ]:
L2.insert(1,d1)

In [ ]:
L2

[1,
 {'a': 10, 'b': 20, 'c': 30},
 {'a': 10, 'b': 20, 'c': 30},
 2,
 3,
 5,
 ['a', 'b', 'work hard'],
 100,
 200,
 {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']}]

In [ ]:
L2[9]

{'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']}

10.	If l2 =[1,2,3,5, (90,40,50,10), ‘Python’, 400 ,[‘a’, ‘b’, ‘work hard’],100 , 200, “Success”, (200,300, “Hundreds”)] then what is the output of following
•	L2[4][2]
•	L2[5][:]
•	L2[2] [:]
•	L2[1:5]
•	L2[5]

In [ ]:
l2 = [1, 2, 3, 5,
      (90, 40, 50, 10),
      'Python',
      400,
      ['a', 'b', 'work hard'],
      100,
      200,
      "Success",
      (200, 300, "Hundreds")]

In [ ]:
print(l2[4][2])
print(l2[5][:])

50
Python

In [ ]:
print(l2[2][:])

TypeError: 'int' object is not subscriptable

In [ ]:
print(l2[1:5])

[2, 3, 5, (90, 40, 50, 10)]

In [ ]:
print(l2[5])

Python

13.	Ask user to opt for courses for master degree based on the following
L1 = [“HR”, “Finance”, “Marketing”, “DS”]
Based on above subject there are two different streams. For example- HR is having HR core and HR analytics and Marketing is having core and Marketing analytics. Analytics is the optional subject and having added extra fees. DS is not having analytics.
If fees for L1 is 2 lakhs for each course core subject having the same fees but analytics subject having 10% extra on 2 lakhs.
If student opts for hostel then 2 lakhs per year is added. For food monthly 2000 .
Transportation charges 13000 per semester. Calculate the total annual cost based on selected service.  
User will enter values as subject, analytics(Y/N), Hostel (Y/N), food(How many months?), Transportation(semester/annual)

In [ ]:
L1 = ["HR", "Finance", "Marketing", "DS"]

In [ ]:
BASE_FEE = 200000
ANALYTICS_EXTRA = 0.10 * BASE_FEE
HOSTEL_FEE = 200000
FOOD_PER_MONTH = 2000
TRANSPORT_PER_SEM = 13000

subject = input("Enter subject (HR / Finance / Marketing / DS): ").strip()
analytics = input("Do you want Analytics? (Y/N): ").strip().upper()
hostel = input("Do you want Hostel? (Y/N): ").strip().upper()
food_months = int(input("Enter number of months for food: "))
transport = input("Transportation (semester/annual): ").strip().lower()

total_cost = BASE_FEE

# Analytics fee logic
if subject != "DS" and analytics == "Y":
    total_cost += ANALYTICS_EXTRA

# Hostel fee
if hostel == "Y":
    total_cost += HOSTEL_FEE

# Food fee
total_cost += food_months * FOOD_PER_MONTH

# Transportation fee
if transport == "semester":
    total_cost += 2 * TRANSPORT_PER_SEM
elif transport == "annual":
    total_cost += 2 * TRANSPORT_PER_SEM

print("Subject:", subject)
print("Total Annual Cost: ₹", int(total_cost))

14

In [ ]:
# Book price data by standard
books = {
    "Hindi":    {"1-4": 60,  "5-8": 100, "9-10": 150},
    "Marathi":  {"1-4": 60,  "5-8": 100, "9-10": 150},
    "English":  {"1-4": 80,  "5-8": 100, "9-10": 150},
    "Science":  {"1-4": 90,  "5-8": 120, "9-10": 200},
    "Maths":    {"1-4": 100, "5-8": 140, "9-10": 250}
}

# Notebook prices
notebooks = {
    "Square": {"100_pages": 40, "200_pages": 70},
    "4_lines": {"100_pages": 30, "200_pages": 50},
    "2_lines": {"100_pages": 30, "200_pages": 50},
    "Single_lines": {"100_pages": 60, "200_pages": 100},
    "A4": {"100_pages": 100, "200_pages": 180}
}

# Print books table
print("BOOK PRICES")
print("Book\t\t1-4\t5-8\t9-10")
for book, price in books.items():
    print(f"{book}\t\t{price['1-4']}\t{price['5-8']}\t{price['9-10']}")

print("\nNOTEBOOK PRICES")
print("Type\t\t100 pages\t200 pages")
for nb, price in notebooks.items():
    print(f"{nb}\t\t{price['100_pages']}\t\t{price['200_pages']}")

BOOK PRICES
Book		1-4	5-8	9-10
Hindi		60	100	150
Marathi		60	100	150
English		80	100	150
Science		90	120	200
Maths		100	140	250

NOTEBOOK PRICES
Type		100 pages	200 pages
Square		40		70
4_lines		30		50
2_lines		30		50
Single_lines		60		100
A4		100		180

In [ ]:
from datetime import datetime

# Interest rate table (Revised rates)
interest_table = [
    (7, 45, 5.75, 6.25),
    (46, 179, 6.25, 6.75),
    (180, 210, 6.35, 6.85),
    (211, 364, 6.40, 6.90),
    (365, 729, 7.00, 7.50),
    (730, 1094, 6.75, 7.25),
    (1095, 1824, 6.70, 7.20),
    (1825, 3650, 6.60, 7.10)
]

# User Inputs
start_date = input("Enter FD start date (YYYY-MM-DD): ")
end_date = input("Enter FD end date (YYYY-MM-DD): ")
senior = input("Senior Citizen? (Y/N): ").upper()

start = datetime.strptime(start_date, "%Y-%m-%d")
end = datetime.strptime(end_date, "%Y-%m-%d")


tenure_days = (end - start).days


interest_rate = None

for min_days, max_days, public_rate, senior_rate in interest_table:
    if min_days <= tenure_days <= max_days:
        interest_rate = senior_rate if senior == "Y" else public_rate
        break

print("\n----- FD DETAILS -----")
print("Tenure (Days):", tenure_days)

if interest_rate:
    print("Interest Rate:", interest_rate, "%")
else:
    print("Tenure not eligible for FD interest")

Enter FD start date (YYYY-MM-DD): 2001-12-23
Enter FD end date (YYYY-MM-DD): 2025-12-23
Senior Citizen? (Y/N): n

----- FD DETAILS -----
Tenure (Days): 8766
Tenure not eligible for FD interest

16 16.	string = "In most organized forms of writing, such as essays, paragraphs contain a topic sentence. This topic sentence of the paragraph tells the reader what the paragraph will be about. Essays usually have multiple paragraphs that make claims to support a thesis statement, which is the central idea of the essay.     "

In [ ]:
string = "In most organized forms of writing, such as essays, paragraphs contain a topic sentence. This topic sentence of the paragraph tells the reader what the paragraph will be about. Essays usually have multiple paragraphs that make claims to support a thesis statement, which is the central idea of the essay.     "

17. 17.	Create a=100
•	Convert a to string
•	Convert a to list    
•	Convert a to tuple  
•	Convert a to dict
•	Convert a to set
•	Convert to float

In [ ]:
a = 100

In [ ]:
s = str(a)
print(s, type(s))

100 <class 'str'>

In [ ]:
l = list(str(a))
print(l, type(l))

['1', '0', '0'] <class 'list'>

In [ ]:
t = tuple(str(a))
print(t, type(t))

('1', '0', '0') <class 'tuple'>

In [ ]:
d = {a: "value"}
print(d, type(d))

{100: 'value'} <class 'dict'>

In [ ]:
st = set(str(a))
print(st, type(st))

{'1', '0'} <class 'set'>

In [ ]:
f = float(a)
print(f, type(f))

100.0 <class 'float'>

18. Create city = “Pune” • Convert to int • Convert float • Convert list • Convert tuple • Convert dict • Convert set

In [ ]:
city = "Pune"

In [ ]:
int(city)

ValueError: invalid literal for int() with base 10: 'Pune'

In [ ]:
float(city)

ValueError: could not convert string to float: 'Pune'

In [ ]:
l = list(city)
print(l, type(l))

['P', 'u', 'n', 'e'] <class 'list'>

In [ ]:
t = tuple(city)
print(t, type(t))

('P', 'u', 'n', 'e') <class 'tuple'>

In [ ]:
dict(city)

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [ ]:
s = set(city)
print(s, type(s))

{'P', 'e', 'n', 'u'} <class 'set'>

19.	Create a list as marks = [20,18,15,17,18]
•	Convert to int
•	Convert float
•	Convert list
•	Convert tuple
•	Convert dict
•	Convert set

In [ ]:
marks = [20, 18, 15, 17, 18]

In [ ]:
int(marks)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'list'

In [ ]:
float(marks)

TypeError: float() argument must be a string or a real number, not 'list'

In [ ]:
l = list(marks)
print(l, type(l))

[20, 18, 15, 17, 18] <class 'list'>

In [ ]:
t = tuple(marks)
print(t, type(t))

(20, 18, 15, 17, 18) <class 'tuple'>

In [ ]:
dict(marks)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [ ]:
s = set(marks)
print(s, type(s))

{17, 18, 20, 15} <class 'set'>

10.	Create the empty list snames
•	 Add value 20 in the list using append
•	 Add value 30 in the list using extend
•	Add values in the list using append
•	Add value “WORK" in the list using extend
•	 Create a new list combo having the values [1, ‘a’, ‘b’ ,2 , 3]
•	Add sname to combo using addition operator
•	Add combo to snames using append
•	Add combo to snames using extend.

In [ ]:
l=[]
l.append(20)
l.extend([30])
l.extend(['work'])
combo=[1, 'a', 'b' ,2 , 3]
l=combo+l
combo.append(l)
combo.extend(l)

print(l)

print(combo)

[1, 'a', 'b', 2, 3, 20, 30, 'work']
[1, 'a', 'b', 2, 3, [1, 'a', 'b', 2, 3, 20, 30, 'work'], 1, 'a', 'b', 2, 3, 20, 30, 'work']

11.	Create one list l1 having two elements and l3 having 7 elements. Now at 4th position add

In [ ]:
l3=[1,2,3,4]
l3.insert(3,l)
l3

[1, 2, 3, [1, 'a', 'b', 2, 3, 20, 30, 'work'], 4]

In [4]:
#12
collection = [1,2,3,['a','b','c'],100,'Nisha',20.50,90.10]

collection = [(i*5 if isinstance(i,(int,float)) else i) for i in collection]

if 'Nisha' in collection:
    collection.remove('Nisha')

location_20_50 = collection.index(20.50*5)

print(collection)
print(location_20_50)

[5, 10, 15, ['a', 'b', 'c'], 500, 102.5, 450.5]
5

In [5]:
# 13
squares = [i**2 for i in range(1,11)]
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [6]:
# 14
div_13 = [i for i in range(1,201) if i % 13 == 0]
div_13

[13, 26, 39, 52, 65, 78, 91, 104, 117, 130, 143, 156, 169, 182, 195]

In [7]:
# 15
div_4 = [i for i in range(300,401) if i % 4 == 0]
div_4

[300,
 304,
 308,
 312,
 316,
 320,
 324,
 328,
 332,
 336,
 340,
 344,
 348,
 352,
 356,
 360,
 364,
 368,
 372,
 376,
 380,
 384,
 388,
 392,
 396,
 400]

In [8]:
# 16
x = 2
y = 2

x_list = [i for i in range(x)]
y_list = [j for j in range(y)]

combination = [[i,j] for i in x_list for j in y_list]
combination

[[0, 0], [0, 1], [1, 0], [1, 1]]

25.	Ask user to enter the name and DOB and generate the password based on first name 4 characters and  last 4 digits of DOB or year @yyyy. For example name = SURESH and DOB = 05-05-1978 then password will be SURE@1978

In [3]:
def Pass(n,dob):

  passwd=n[0:4]+dob[-4:-1]
  return passwd
n=input('enter the name')
dob=input('enter dob')
Pass(n,dob)

enter the nameanshu
enter dob23-12-2002

'ansh200'

26.	Create the format mentioned here.
*
* *
* * *
* * * *

27.	Create the format as mentioned below:
****
***
**
*

In [ ]:
for i in range(5):
  print('* '*i)

*
* *
* * *
* * * *

In [ ]:
for i in range(5,0,-1):
  print('* '*i)

* * * * *
* * * *
* * *
* *
*

28.	Str_val = “ABCD” then create the format as mentioned below:
A
A B
A B C
A B C D

In [ ]:
n='abcd'
l=len(n)+1
for i in range(0,l):
  print(n[0:i])

a
ab
abc
abcd

29.	Create the format mentioned below:
A
BB
CCC
DDDD

In [ ]:
s='abcd'
l=len(s)
for i in range(0,l):
  print(s[i]*(i+1))

a
bb
ccc
dddd

30.	Create the format mentioned below:
1
22
333
4444

In [ ]:
for i in range(1,5):
  print(str(i)*i)

1
22
333
4444

31.	Val = “ABCD”  based on the Val, create the format mentioned below
D
DC
DCB
DCBA

In [ ]:
s='abcd'
for i in range(len(s),-1,-1):
  print(s[:i:-1])

d
dc

In [ ]:
Val = "ABCD"

rev = Val[::-1] #'dcba'

for i in range(1, len(rev) + 1):
    print(rev[:i])

D
DC
DCB
DCBA

32.	Ask user to enter the string. If string is UPGRAD then output must be
D
DA
DAR
DARG
DARGP
DARGPU

In [ ]:
s='upgrad'
r=s[::-1]
for i in range(1,len(r)+1):
  print(r[:i])

d
da
dar
darg
dargp
dargpu

37.	Create a function to accept marks from user utilize exception concept to validate proper marks

In [ ]:
def marks():
  while True:
    try:
      m=input('enter marks:')
      m=float(m)
      if m<0 or m>100:
        raise Exception()
      else:
        break
    except ValueError:
      print('enter proper marks:')
    except Exception:
      print('enter marks between 0-100')
    except:
      print('not valid integer, try again..')
  print('Marks entered')

38.	Create a function to validate user first name/last name. User first name/last name should

In [ ]:
def FullName(n):
  while True:
    try:

      if n.isdigit() or ' ' in n or n.isalnum():
        raise Exception()
      else:
        break
    except ValueError:
      print('enter proper name:')
    except Exception:
      print('enter name properly without special characters, numbers, space ')
    except:
      print(sys.exc_info())
  print('name entered!')

m=input('enter First name:')
n=input('enter second name:')
Name=m+n
FullName(Name)

39.	Create a function to accept mobile number. Mobile number should contain 10 digits. No Special character, alphabets and space.

In [ ]:
from ast import Num
def mobile_number(mobile):
  if mobile.isdigit and len(mobile)==10:
    flag=True
    num=mobile
  else:
    flag=False
    num="error"
  return flag,num
mobile=input('enter a num')
mobile_number(mobile)

enter a num1234567892

(True, '1234567892')

In [ ]:
import sys
try:
  xyz=int(input('enter number'))
  new_dict=dict(xyz)
except NameError:
  print('enter the proper values')
except ValueError:
  print('add Proper logic')
except:
  print(sys.exc_info())
finally:
  print('execute at all times')

enter number67
(<class 'TypeError'>, TypeError("'int' object is not iterable"), <traceback object at 0x7e6007bbaf80>)
execute at all times

In [ ]:
while True:
  try:
    n=input("please enter an integer between 1-9:")
    print(n)
    n=float(n)
    print(n)
    if n<1 or n>9:
      raise Exception()
    else:
      break
  except ValueError:
    print('Alphabets are not allowed here')
  except Exception:
    print('enter number between 0 and 9')
  except:
    print('not valid integer, try again..')
print('great you en tered the number!!')

67
67.0
enter number between 0 and 9
y
Alphabets are not allowed here
0
0.0
enter number between 0 and 9

In [ ]:
def auto_password():
    name = input("Enter full name: ").strip()
    dob = input("Enter DOB (dd-mm-yyyy): ").strip()
    first_name = name.split()[0]
    year = dob.split("-")[-1]
    password = first_name[:4] + year
    print("Generated Password:", password)

auto_password()

Enter full name: ashika
Enter DOB (dd-mm-yyyy): 23-12-2002
Generated Password: ashi2002

In [ ]:
customers = {}
def add_customer():
    global customers
    name = input("Enter name: ")
    dob = input("Enter DOB: ")
    mobile = input("Enter mobile: ")
    cust_no = len(customers) + 1
    customers[cust_no] = {"name": name, "DOB": dob, "mobile": mobile}
    print(customers)

In [ ]:
# 42
def save_to_file():
    with open("/content/drive/MyDrive/Modu/Hi how are you.txt", "w") as f:
        f.write(str(customers))

In [ ]:
# 43
def load_and_append():
    global customers
    try:
        with open("/content/drive/MyDrive/Modu/Hi how are you.txt", "r") as f:
            data = f.read().strip()
            if data:
                customers = eval(data)
    except FileNotFoundError:
        customers = {}
    add_customer()
    save_to_file()

In [ ]:
# 45
Dict1 = {"Key": {"subkey":20}, "k2":{"sub2":5}, "k3":{"sub4":16}, "k4":{"sub4":6}}
sorted_dict = dict(sorted(Dict1.items(), key=lambda x: list(x[1].values())[0]))
sorted_dict

{'k2': {'sub2': 5},
 'k4': {'sub4': 6},
 'k3': {'sub4': 16},
 'Key': {'subkey': 20}}

In [ ]:
# 46
from datetime import datetime
def calculate_age(dob):
    dob_date = datetime.strptime(dob, "%d-%m-%Y")
    today = datetime.today()
    age = today.year - dob_date.year - ((today.month, today.day) < (dob_date.month, dob_date.day))
    return age

In [ ]:
calculate_age("23-12-2002")

23

In [ ]:
# 47
def check_eligibility(dob, eligibility_age):
    age = calculate_age(dob)
    return age >= eligibility_age

In [ ]:
check_eligibility("23-12-20002",5)

ValueError: unconverted data remains: 2

In [ ]:

# 48
def is_palindrome(s):
    return s == s[::-1]

In [ ]:
is_palindrome('madam')

True

In [ ]:
# 49
def fibonacci_upto_100():
    a, b = 0, 1
    while a <= 100:
        print(a, end=" ")
        a, b = b, a + b

In [ ]:
# 50
def factorial(n):
    result = 1
    for i in range(1, n+1):
        result *= i
    return result

In [ ]:
factorial(5)

120

In [ ]:
def largest_number(lst):
    return max(lst)

In [ ]:
largest_number([1,6,87,9])

87

In [ ]:
#52
def frequency(lst):
    freq = {}
    for i in lst:
        freq[i] = freq.get(i, 0) + 1
    return freq

In [ ]:
# 53
l1 = [1,2,3,4,5]
l2 = [3,2,8,7,9]
common = list(set(l1) & set(l2))
print(common)

[2, 3]

In [ ]:
import sqlite3

class User:
    def __init__(self, mobile, passkey):
        self.mobile = mobile
        self.passkey = passkey

    def sign_up(self):
        conn = sqlite3.connect("shop.db")
        cur = conn.cursor()
        cur.execute("CREATE TABLE IF NOT EXISTS user(uid INTEGER PRIMARY KEY AUTOINCREMENT, mobile TEXT, passkey TEXT, date TEXT)")
        cur.execute("INSERT INTO user(mobile, passkey, date) VALUES (?, ?, datetime('now'))", (self.mobile, self.passkey))
        conn.commit()
        conn.close()

    def sign_in(self):
        conn = sqlite3.connect("shop.db")
        cur = conn.cursor()
        cur.execute("SELECT * FROM user WHERE mobile=? AND passkey=?", (self.mobile, self.passkey))
        data = cur.fetchone()
        conn.close()
        return data

class Product:
    def __init__(self, pname):
        self.pname = pname

    def add_product(self):
        conn = sqlite3.connect("shop.db")
        cur = conn.cursor()
        cur.execute("CREATE TABLE IF NOT EXISTS Product(pid INTEGER PRIMARY KEY AUTOINCREMENT, pname TEXT)")
        cur.execute("INSERT INTO Product(pname) VALUES (?)", (self.pname,))
        conn.commit()
        conn.close()

class Order:
    def place_order(self, uid, pid):
        conn = sqlite3.connect("shop.db")
        cur = conn.cursor()
        cur.execute("CREATE TABLE IF NOT EXISTS OrderTable(oid INTEGER PRIMARY KEY AUTOINCREMENT, uid INTEGER, pid INTEGER)")
        cur.execute("INSERT INTO OrderTable(uid, pid) VALUES (?, ?)", (uid, pid))
        conn.commit()
        conn.close()