<a href="https://colab.research.google.com/github/anshika1501/PythonPractice/blob/main/Lambda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
sa=lambda name: f'welcome {name}'
a('anita')

'welcome anita'

Lambda

In [ ]:
var=lambda x,y :{'add':x+y,'sub':y-x,'div':y/x,'multiply':x*y}
var(4,9)

{'add': 13, 'sub': 5, 'div': 2.25, 'multiply': 36}

In [ ]:
basic=lambda x:x*100 if x%2==0 else x*2
print(basic(20))

2000

In [ ]:
a=lambda amt,r:(amt+(amt*r))
print(a(20,3))

80

In [ ]:
l=lambda x:len(x) if type(x) not in (int,float,bool) else x

In [ ]:
print(l('nfkfof'))

6

In [ ]:
l2=[True,False,'12','23','dhu']
a=list(map(str,l2))
print(a)

['True', 'False', '12', '23', 'dhu']

In [ ]:
l2=['58','777','12','23','78']

In [ ]:
list(filter(lambda x: x.isalpha()==False,l2))

['58', '777', '12', '23', '78']

In [ ]:
from functools import reduce
summation=reduce((lambda x,y:(x+y)),[1,2,3,4,5])
print(summation)

15

In [ ]:
from itertools import accumulate

s = accumulate([1, 2, 3, 4, 5], lambda x, y: x + y)
print(list(s))

[1, 3, 6, 10, 15]

In [ ]:
def abc(a1): #3. abc(40)
  o=print('inside abc')
  return f'hello {a1}'    # 4. lastly print hello {40}

def calling(a4): # 1.calling(abc) will come here and abc will be there in place of a4
  print('calling ') #print this first
  v=40
  return a4(v)  # 2.abc(40)

calling(abc)

calling
inside abc

'hello 40'

In [ ]:
def super(n):
  def sub1():
    return 'inside 1'
  def sub2():
    return  'inside 2'
  if n==1:
    return sub1()
  else:
    return sub2()
x=super(1)
print(x)

In [ ]:
# Book price data by standard
books = {
    "Hindi":    {"1-4": 60,  "5-8": 100, "9-10": 150},
    "Marathi":  {"1-4": 60,  "5-8": 100, "9-10": 150},
    "English":  {"1-4": 80,  "5-8": 100, "9-10": 150},
    "Science":  {"1-4": 90,  "5-8": 120, "9-10": 200},
    "Maths":    {"1-4": 100, "5-8": 140, "9-10": 250}
}

# Notebook prices
notebooks = {
    "Square": {"100_pages": 40, "200_pages": 70},
    "4_lines": {"100_pages": 30, "200_pages": 50},
    "2_lines": {"100_pages": 30, "200_pages": 50},
    "Single_lines": {"100_pages": 60, "200_pages": 100},
    "A4": {"100_pages": 100, "200_pages": 180}
}

# Print books table
print("BOOK PRICES")
print("Book\t\t1-4\t5-8\t9-10")
for book, price in books.items():
    print(f"{book}\t\t{price['1-4']}\t{price['5-8']}\t{price['9-10']}")

print("\nNOTEBOOK PRICES")
print("Type\t\t100 pages\t200 pages")
for nb, price in notebooks.items():
    print(f"{nb}\t\t{price['100_pages']}\t\t{price['200_pages']}")

BOOK PRICES
Book		1-4	5-8	9-10
Hindi		60	100	150
Marathi		60	100	150
English		80	100	150
Science		90	120	200
Maths		100	140	250

NOTEBOOK PRICES
Type		100 pages	200 pages
Square		40		70
4_lines		30		50
2_lines		30		50
Single_lines		60		100
A4		100		180

In [ ]:
n = int(input("Enter number of items: "))

bill = {}   # item : [quantity, price]

for i in range(n):
    item = input("Enter item name: ")
    qty = int(input("Enter quantity: "))
    price = float(input("Enter price per item: "))
    bill[item] = [qty, price]   # âœ… inside loop

def printbill():
    print("\n" + "-"*40)
    print("{:^40}".format("BILL"))
    print("-"*40)

    print("{:<15}{:<10}{:<10}{:<10}".format("Item", "Qty", "Price", "Total"))
    print("-"*40)

    grand_total = 0

    for item, values in bill.items():
        qty, price = values
        total = qty * price
        grand_total += total
        print("{:<15}{:<10}{:<10}{:<10}".format(item, qty, price, total))

    print("-"*40)
    print("{:<35}{:<10}".format("Grand Total", grand_total))
    print("-"*40)

decide = input("Do you want to print the bill? Y/N: ")

if decide.lower() == 'y':
    printbill()
else:
    print("Thank you for visiting")

Enter number of items: 2
Enter item name: gdh
Enter quantity: 1
Enter price per item: 20
Enter item name: dhjj
Enter quantity: 4
Enter price per item: 20
Do you want to print the bill?Y/Ny

----------------------------------------
                  BILL
----------------------------------------
Item           Qty       Price     Total
----------------------------------------
gdh            1         20.0      20.0
dhjj           4         20.0      80.0
----------------------------------------
Grand Total                        100.0
----------------------------------------