<a href="https://colab.research.google.com/github/anshika1501/PythonPractice/blob/main/ListComprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
squares = [x**2 for x in range(1, 11)]

In [2]:
# 2
evens = [x for x in range(1, 51) if x % 2 == 0]

In [3]:
evens

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50]

In [4]:
strings = ["apple", "banana", "cherry"]
upper_strings = [s.upper() for s in strings]
upper_strings

['APPLE', 'BANANA', 'CHERRY']

In [5]:
# 4
nums = [-5, 3, -2, 8, 0, 7]
positives = [x for x in nums if x > 0]
positives

[3, 8, 7]

In [6]:
# 5
tuples_list = [(x, x**2) for x in range(1, 6)]
tuples_list

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [8]:
# 6
text = "hello world"
vowels = [ch for ch in text if ch.lower() in "aeiou"]
vowels

['e', 'o', 'o']

In [9]:
# 7
matrix = [[1, 2], [3, 4], [5, 6]]
flat = [item for row in matrix for item in row]
flat

[1, 2, 3, 4, 5, 6]

In [10]:
# 8
nums2 = [-3, 5, -1, 9]
replaced = [x if x >= 0 else 0 for x in nums2]
replaced

[0, 5, 0, 9]

In [11]:
# 9
words = ["apple", "dog", "banana"]
lengths = [len(word) for word in words]
lengths

[5, 3, 6]

In [13]:
# 10
words2 = ["Apple", "banana", "Avocado", "grape"]
filtered = [word for word in words2 if not word.lower().startswith('a')]
filtered

['banana', 'grape']

In [15]:
# 11
numbers = [1, 2, 3, 4, 5]
even_odd = ["even" if x % 2 == 0 else "odd" for x in numbers]
even_odd

['odd', 'even', 'odd', 'even', 'odd']

In [19]:
# 12
divisible = [x for x in range(1, 101) if x % 3 == 0 and x % 5 == 0]
divisible

[15, 30, 45, 60, 75, 90]

In [18]:
# 13
table = [[i * j for j in range(1, 6)] for i in range(1, 6)]
table

[[1, 2, 3, 4, 5],
 [2, 4, 6, 8, 10],
 [3, 6, 9, 12, 15],
 [4, 8, 12, 16, 20],
 [5, 10, 15, 20, 25]]

In [21]:
# 14
d = {"a": 1, "b": 2, "c": 3}
keys_list = [key for key in d]
keys_list

['a', 'b', 'c']

In [22]:
# 15
string = "a1b2c3d4"
digits = [ch for ch in string if ch.isdigit()]
digits

['1', '2', '3', '4']

In [27]:
# 16
string2 = "hello world python"
no_spaces = [ch for ch in string2 if ch != " "]
no_spaces

['h',
 'e',
 'l',
 'l',
 'o',
 'w',
 'o',
 'r',
 'l',
 'd',
 'p',
 'y',
 't',
 'h',
 'o',
 'n']

In [32]:
string2 = "hello world python"
print(''.join([ch for ch in string2 if ch != " "]))

helloworldpython

In [28]:
# 17
string3 = "programming"
duplicates = [ch for ch in set(string3) if string3.count(ch) > 1]

In [29]:
# 18
sentences = ["hello world", "python is fun"]
all_words = [word for sentence in sentences for word in sentence.split()]
all_words

['hello', 'world', 'python', 'is', 'fun']

In [30]:
# 19
lst = [1, 2, 2, 3, 4, 4, 5]
unique = [x for i, x in enumerate(lst) if x not in lst[:i]]

In [31]:

# 20
A = [1, 2]
B = ['a', 'b']
pairs = [(x, y) for x in A for y in B]
pairs

[(1, 'a'), (1, 'b'), (2, 'a'), (2, 'b')]